body {
  background-color: azure;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 200vh; /* Make the container tall enough to enable scrolling */
  background-color: #f0f0f0;
  padding: 10px;
  position: relative;
}

.header {
  background: #009ee7;
  color: white;
  text-align: center;
  align-items: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 1px;
  z-index: 1000;
}

.logo {
  background-color: #ffffff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
}

.nav-link {
  display: flex;
  gap: 2rem;
  text-decoration: none;
  color: white;
  font-size: 20px;
  list-style: none;
  margin: 0;
  margin-right: 40px;
  padding: 0;
  transition: color 0.1s ease;
}

.nav-link li {
  list-style: none;
}

.nav-link-li:hover {
  /* color:rgb(0, 152, 152); */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* .nav-link-li:hover::after {
  transform: scaleX(1);
} */

.nav-link a {
  text-decoration: none;
  color: rgb(237, 219, 219);
  display: inline-block;
  transition: text-shadow 0.3s ease;
}

.hero {
  background-color: #b1edf7;
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.hero-image > img {
  width: 100%;
  height: 100%;
}
.hero-image {
  width: 25rem;
  height: 30rem;
  overflow: hidden;
  border-radius: 10rem 0 0 0;
  /* border: 8px solid rgba(255, 255, 255, 0.12); */
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero-title {
  font-size: 70px;
  line-height: 100px;
  font-weight: 800;
  color: #048ecf;
  text-align: start;
}

.hero-text {
  font-size: 20px;
  line-height: 1.5;
  color: #bdbdbd;
  text-align: start;
}

.hero-btn {
  padding: 15px 30px;
  background-color: #009ee7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: all 300ms ease-in;
}
.hero-btn:hover {
  background-color: #007bff;
  transform: scale(1.1);
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
  /* background-color:#048ecf; */
}
.service-box {
  display: flex; /*Enables flexbox layout within .service-box */
  flex-direction: column; /* Stacks content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: #29a5f7;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(14, 142, 240, 0.537);
}

.service-image {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  transition: all 300ms ease-in;
}

.service-image:hover {
  background-color: #007bff;
  transform: scale(1.1);
}

.service-header {
  font-size: 35px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
}

.blog-header {
  font-size: 35px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  align-items: center;
}

.blog-box {
  display: flex; /*Enables flexbox layout within .service-box */
  flex-direction: column; /* Stacks content vertically */
  align-items: center; /* Centers content horizontally */
  text-align: center;
  justify-content: center;
  padding: 20px;
  background-color: #29a5f7;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(14, 142, 240, 0.537);
}

.Blogs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
  /* background-color:#048ecf; */
}

.blog-image {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  transition: all 300ms ease-in;
}


.blog-text {
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.blog-text {
  font-size: 15px;
  color: #000000;
  text-transform: lowercase;
  font-weight: 100;
  text-align: center;
}

.blog-text1{
  font-size: 20px;
  color: #edeaea;
  text-align: justify;
  font-weight: 500;
}

.blog-text1:hover{
  font-size: 20px;
  color: #ffbd39;
}

.blog-text2{
  margin-top: 39px;
  font-size: 10px;
  color: #090000;
  text-align: justify;
}